body{
    background-color: rgb(23, 23, 23);
    color:rgb(153, 51, 51);
}

header{
    background-color: rgb(230, 230, 230);
    padding: 20px 0px 20px 0px;
    text-align: center;
}

h1{
    font-size:60px;
}

button{
    border-radius:2px;
    font-size:20px;
    padding:3px;
    margin:3px;
}

.section-seven{
    background-color:rgb(80, 80, 80);
    height: 500px;
   color:aliceblue;
   text-wrap:wrap;
   font-family: Copperplate, Papyrus, fantasy;
   
}


img {
   /* width: 300px;
    height: auto;
    align-items:center;
    margin-top: 5%;
    margin-left: 5%;
    float: left;*/
    width: 300px;
text-align: center;
overflow: hidden;
float: left;
padding: 0 20px 0 20px;
margin-top: 2.5%;

}
.section-eight{
    background-color:rgb(80, 80, 80);
    height: 500px;
    color:aliceblue;
    text-wrap:wrap;
    font-family: Copperplate, Papyrus, fantasy;
}
.section-nine{
    background-color:rgb(80, 80, 80);
    height: 500px;
    color:aliceblue;
    text-wrap:wrap;
    font-family: Copperplate, Papyrus, fantasy;
}
.section-ten{
    background-color:rgb(80, 80, 80);
    height: 500px;
    color:aliceblue;
    text-wrap:wrap;
    font-family: Copperplate, Papyrus, fantasy;
}

